# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.db
*.sqlite3

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# Streamlit secrets (NUNCA subir isso)
.streamlit/secrets.toml

# Virtual environment (caso crie localmente)
venv/
env/
ENV/

# Logs e temporários
*.log
*.tmp
*.bak
*.swp
